

@import url('elements.css');



/* RESETS */

body {
	font-family: 'Lora', serif;
}

p {
	font-size: 16px;
}




/* HEADER */

.navbar-default {
	margin-bottom: 0px;
	padding-top: 10px; 
	height: 70px;
}

/* BANNER */


.jumbotron {
	margin-bottom: 25px;
}


/* FEATURES */

#features {
	margin-top: 55px;
}

#features .item {
	margin-bottom: 25px;
}

#video {

	margin-top: 45px;
	margin-bottom: 45px;
}


/* PRICING */

#pricing {
	padding-top: 65px;
	margin-bottom: 45px;

}

#pricing .item {
	padding-right: 45px;
	padding-left: 45px;
	padding-top: 15px;
	padding-bottom: 45px;
	border: 1px solid #000;
}

#pricing .btn-default {
   width: 100%;
   margin-top: 15px;
}


/* VISION */

#vision {
	padding-top: 65px;
	margin-bottom: 105px;
}

#vision h3 {
	margin-top: 0px;
}

#vision img {
	height: 90px;
}


/* LOGIN & SIGNUP FORMS */




/* FOOTER */

.footer {
	
	width: 100%;
	margin: 0 auto;
    background-image: linear-gradient(90deg, rgb(48, 60, 66) 100%, rgb(55, 66, 75) 50%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
	    color: white;
	    padding-top: 25px;
	    padding-bottom: 35px;
	    text-align: center; 
}

.footer p {
	font-size: 16px;
	line-height: 16px;

}

.footer ul {
	    list-style-type: none;
    padding: 0;
}

.footer ul li {
	margin: 16px 0;
}

.footer ul li a, .footer a {
	color: #cfd8dc;
}

.footer ul li a:hover, .footer a:hover {
	color: #fff;
	text-decoration: none;
}

.footer p {
	color: #fff;
}

.footer .brand {
	font-size: 20px;
}

.copyright {
	background-color: #455a64;;
	color: white;
	margin-bottom: 0px;
	padding: 15px;

}
.copyright p {
	font-size: 16px;
	margin: 0px;
	color: #fff;
}

.copyright a {
	color: #cfd8dc;
}


