/* RESETS */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);


/* RESETS */

body {
	font-family: 'Roboto', serif;
}

p {
	font-size: 16px;
}



/* NAVBAR */

.navbar-default {
	height: 70px;
	padding-top: 10px;
	background-color: #2ECC71;
}

.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	font-size: 16px;

}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	color: #fff;
	font-size: 24px;
}


