@media (max-width: 767px) {
 
    body 
    {
	   font-family: 'Roboto', serif;
	}

	p 
	{
		font-size: 14px;
	}

	#vision img {
		height: 70px;
	}

	#vision .item {
		margin-top: 25px;
	}

	.jumbotron {
		height: 450px;
	}
    .jumbotron .hero {
	margin-top: 55px;
	background-color: transparent;
    color: #fff;
    border-bottom: none;

}

.jumbotron .hero h2 {
		font-size: 28px;
		font-weight: bold;
	color: #fff;
	line-height: 34px;
}

.jumbotron .hero h3 {
	font-size: 24px;
	font-weight: 400;
}

.jumbotron .hero .btn-default{

	margin: 15px;
	margin-top: 15px;
    padding: 5px;
	background-color: transparent;
	border : 2px solid #fff;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	width: 250px;

}

.jumbotron .hero .btn-default.green {
	background-color: #2ECC71;
	border : 2px solid #2ECC71;
}

.navbar-default .navbar-collapse {
	background-color: #000;
}
	
    
    #partners img {
	   width: 150px;

    }

    #partners a:nth-child(3)
    {
    	margin-top: 15px; 
    	margin-left: 8px; 
    }


}